<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Gayathri|Press+Start+2P|Quantico|Raleway|Roboto+Mono|Ultra&display=swap"
        rel="stylesheet">

    <!-- Scripts: jQuery, Bootstrap  -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    <!-- Font awesome  -->
    <script src="https://kit.fontawesome.com/8bebd64d95.js" crossorigin="anonymous"></script>

    <!-- title of web tab -->
    <title>allWebDevChat</title>

</head>

<body>

    <!-- Main Navbar section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- .navbar-fixed-top -->
        <a class="navbar-brand" href="#">allWebDevChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-primary my-2 my-sm-0 search" type="submit">Search</button>
            </form>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fas fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Carousel Section -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" data-interval="5000">
            <div class="carousel-item active">
                <img src="images/Austin_TX4.2.jpg" class="d-block w-100" alt="Auxtin,Tx Skyline">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item" data-interval="4000">
                <img src="images/moritz_switzerland_night2.jpg" class="d-block w-100"
                    alt="Moritz, Switzerland at Night">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item" data-interval="4000">
                <img src="images/atlanta_night2.jpg" class="d-block w-100" alt="Atlantla, Georgia at Night">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item" data-interval="4000">
                <img src="images/berlin_night.2.jpg" class="d-block w-100" alt="Berlin, Germany at Night">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item" data-interval="4000">
                <img src="images/SanAntonio_night2.jpg" class="d-block w-100"
                    alt="San Antonio, TX US Riverwalk at Night">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Optional JavaScript -->



    <!-- following is footer section -->
    <footer>
        <p>&copycopyright 2020 allWebDevChat <span> <a href="https://github.com/allWebDevChat" target:"_blank"><img
                        src="images/Octocat13.svg" class="github" title="Github"
                        alt="Link to allWebDevChats Github page" /> </a>
            </span> </p>
    </footer>

</body>

</html>